*.log
*.html
*.stx
*.xst
*.prj
*.cmd
*.exe
*.xwbt
*.ncd
*.map
*.mrp
*.ncd
*.ngm
*.xrpt
*.csv
*.xml
*.xrpt
*.bgn
*.bld
*.cmd_log
*.drc
*.lso
*.ngr
*.par
*.pad
*.ptwx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.ini
*.ngc
*.ngd
*.txt
*.wdb
*.cgc
*.cgp
*.ncf
*.asy
*.ejp
*.sym
*.gise
*.xise
*.xco
*.aux
*.gz
*.out
!/saturnflashconfig.exe
*.pdf
!/Documentation/*.pdf
*.bat
*.sh
*.do
*.key
*.sv
*.sdc


**/xst/*
**/xln*/*
**/plan*/*
**/isim/*
**/iseconfig/*
**/_*/*
